@import "../../index.scss";

.game {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0.75rem 0;
  height: 75%;
}

.game-button {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s ease;
  box-shadow: inset 1px 4px 7.5px #555;
  border: none;

  &:hover {
    box-shadow: inset 0px 0px 7.5px #555;
  }
}

.grad-wrap {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  transition: 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    transform: scale(1.1, 1.1);
  }
}

#rock-placement {
  position: absolute;
  bottom: 0;
}

.rock-wrap {
  background: $p-rock-grad;
}

.paper-wrap {
  background: $p-paper-grad;
}

.scissors-wrap {
  background: $p-scissors-grad;
}

.background {
  position: absolute;
  margin: 3.5rem auto;
}

.icons {
  position: relative;
  justify-content: center;
  gap: 8rem;
  height: 100%;
  width: 100%;
  display: flex;
  #rock-container {
    position: absolute;
    bottom: 0;
  }
}

.result-section {
  display: flex;
  gap: 10rem;
  margin-top: 6rem;
}

.computer-choice {
  animation-delay: 7s;
  animation: computer 2s ease;
  animation-fill-mode: forwards;
  margin: 0;
}

.result {
  animation-delay: 8s;
  animation: show 2s ease;
  animation-fill-mode: forwards;
}

  // Although screenreaders can see these elements when height and width
  // are displayed to 0, it's still fine to do as they're simply pop-in 
  // animations after a given time

@keyframes computer {
  0% {
    height: 0;
    width: 0;
    overflow: hidden;
  }
  100% {
    height: auto;
    width: auto;
    overflow: visible;
  }

}

@keyframes show {
  0% {
    height: 0;
    width: 0;
    overflow: hidden;
  }

  50% {
    transform: scale(0.25, 0.25);
  }

  99% {
    transform: scale(1.1, 1.1);
  }

  100% {
    height: auto;
    width: auto;
    transform: scale(1, 1);
    overflow: visible;
  }
}

#result-title {
  font-size: 3rem;
  text-transform: uppercase;
}

#play-again {
  text-transform: uppercase;
  padding: 1rem 4rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

$box-shadow-width: 40px;

.win {
  animation: buttonWin 3s;
  animation-delay: 0.25s;
  animation-fill-mode: forwards;
}

@keyframes buttonWin {
  25% {
    box-shadow: 0 0 0 calc($box-shadow-width * 2) rgba(255, 255, 255, 0.025);
  }
  50% {
    box-shadow: 0 0 0 calc($box-shadow-width * 2) rgba(255, 255, 255, 0.025),
      0 0 0 calc($box-shadow-width * 3 + 25px) rgba(255, 255, 255, 0.025);
  }
  75% {
    box-shadow: 0 0 0 calc($box-shadow-width * 2) rgba(255, 255, 255, 0.025),
      0 0 0 calc($box-shadow-width * 3 + 25px) rgba(255, 255, 255, 0.025),
      0 0 0 calc($box-shadow-width * 4 + 50px) rgba(255, 255, 255, 0.025);
  }

  100% {
    box-shadow: 0 0 0 $box-shadow-width rgba(255, 255, 255, 0.025),
      0 0 0 calc($box-shadow-width * 2 + 5px) rgba(255, 255, 255, 0.025),
      0 0 0 calc($box-shadow-width * 3 + 25px) rgba(255, 255, 255, 0.025);
  }
}
