@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  font-size: 16px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  color: #fff;
}

.game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0.75rem 0;
  height: 75%;
}

.game-button {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-box-shadow: inset 1px 4px 7.5px #555;
          box-shadow: inset 1px 4px 7.5px #555;
  border: none;
}

.game-button:hover {
  -webkit-box-shadow: inset 0px 0px 7.5px #555;
          box-shadow: inset 0px 0px 7.5px #555;
}

.grad-wrap {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grad-wrap:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

#rock-placement {
  position: absolute;
  bottom: 0;
}

.rock-wrap {
  background: -webkit-gradient(linear, left top, left bottom, from(#dc2e4e), to(#dd405d));
  background: linear-gradient(#dc2e4e, #dd405d);
}

.paper-wrap {
  background: -webkit-gradient(linear, left top, left bottom, from(#4865f4), to(#5671f5));
  background: linear-gradient(#4865f4, #5671f5);
}

.scissors-wrap {
  background: -webkit-gradient(linear, left top, left bottom, from(#ec9e0e), to(#eca922));
  background: linear-gradient(#ec9e0e, #eca922);
}

.background {
  position: absolute;
  margin: 3.5rem auto;
}

.icons {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8rem;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icons #rock-container {
  position: absolute;
  bottom: 0;
}

.result-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10rem;
  margin-top: 6rem;
}

.computer-choice {
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
  -webkit-animation: computer 2s ease;
          animation: computer 2s ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  margin: 0;
}

.result {
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
  -webkit-animation: show 2s ease;
          animation: show 2s ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes computer {
  0% {
    height: 0;
    width: 0;
    overflow: hidden;
  }
  100% {
    height: auto;
    width: auto;
    overflow: visible;
  }
}

@keyframes computer {
  0% {
    height: 0;
    width: 0;
    overflow: hidden;
  }
  100% {
    height: auto;
    width: auto;
    overflow: visible;
  }
}

@-webkit-keyframes show {
  0% {
    height: 0;
    width: 0;
    overflow: hidden;
  }
  50% {
    -webkit-transform: scale(0.25, 0.25);
            transform: scale(0.25, 0.25);
  }
  99% {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
  }
  100% {
    height: auto;
    width: auto;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    overflow: visible;
  }
}

@keyframes show {
  0% {
    height: 0;
    width: 0;
    overflow: hidden;
  }
  50% {
    -webkit-transform: scale(0.25, 0.25);
            transform: scale(0.25, 0.25);
  }
  99% {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
  }
  100% {
    height: auto;
    width: auto;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    overflow: visible;
  }
}

#result-title {
  font-size: 3rem;
  text-transform: uppercase;
}

#play-again {
  text-transform: uppercase;
  padding: 1rem 4rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.win {
  -webkit-animation: buttonWin 3s;
          animation: buttonWin 3s;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes buttonWin {
  25% {
    -webkit-box-shadow: 0 0 0 calc($box-shadow-width * 2) rgba(255, 255, 255, 0.025);
            box-shadow: 0 0 0 calc($box-shadow-width * 2) rgba(255, 255, 255, 0.025);
  }
  50% {
    -webkit-box-shadow: 0 0 0 calc($box-shadow-width * 2) rgba(255, 255, 255, 0.025), 0 0 0 calc($box-shadow-width * 3 + 25px) rgba(255, 255, 255, 0.025);
            box-shadow: 0 0 0 calc($box-shadow-width * 2) rgba(255, 255, 255, 0.025), 0 0 0 calc($box-shadow-width * 3 + 25px) rgba(255, 255, 255, 0.025);
  }
  75% {
    -webkit-box-shadow: 0 0 0 calc($box-shadow-width * 2) rgba(255, 255, 255, 0.025), 0 0 0 calc($box-shadow-width * 3 + 25px) rgba(255, 255, 255, 0.025), 0 0 0 calc($box-shadow-width * 4 + 50px) rgba(255, 255, 255, 0.025);
            box-shadow: 0 0 0 calc($box-shadow-width * 2) rgba(255, 255, 255, 0.025), 0 0 0 calc($box-shadow-width * 3 + 25px) rgba(255, 255, 255, 0.025), 0 0 0 calc($box-shadow-width * 4 + 50px) rgba(255, 255, 255, 0.025);
  }
  100% {
    -webkit-box-shadow: 0 0 0 40px rgba(255, 255, 255, 0.025), 0 0 0 calc($box-shadow-width * 2 + 5px) rgba(255, 255, 255, 0.025), 0 0 0 calc($box-shadow-width * 3 + 25px) rgba(255, 255, 255, 0.025);
            box-shadow: 0 0 0 40px rgba(255, 255, 255, 0.025), 0 0 0 calc($box-shadow-width * 2 + 5px) rgba(255, 255, 255, 0.025), 0 0 0 calc($box-shadow-width * 3 + 25px) rgba(255, 255, 255, 0.025);
  }
}

@keyframes buttonWin {
  25% {
    -webkit-box-shadow: 0 0 0 calc($box-shadow-width * 2) rgba(255, 255, 255, 0.025);
            box-shadow: 0 0 0 calc($box-shadow-width * 2) rgba(255, 255, 255, 0.025);
  }
  50% {
    -webkit-box-shadow: 0 0 0 calc($box-shadow-width * 2) rgba(255, 255, 255, 0.025), 0 0 0 calc($box-shadow-width * 3 + 25px) rgba(255, 255, 255, 0.025);
            box-shadow: 0 0 0 calc($box-shadow-width * 2) rgba(255, 255, 255, 0.025), 0 0 0 calc($box-shadow-width * 3 + 25px) rgba(255, 255, 255, 0.025);
  }
  75% {
    -webkit-box-shadow: 0 0 0 calc($box-shadow-width * 2) rgba(255, 255, 255, 0.025), 0 0 0 calc($box-shadow-width * 3 + 25px) rgba(255, 255, 255, 0.025), 0 0 0 calc($box-shadow-width * 4 + 50px) rgba(255, 255, 255, 0.025);
            box-shadow: 0 0 0 calc($box-shadow-width * 2) rgba(255, 255, 255, 0.025), 0 0 0 calc($box-shadow-width * 3 + 25px) rgba(255, 255, 255, 0.025), 0 0 0 calc($box-shadow-width * 4 + 50px) rgba(255, 255, 255, 0.025);
  }
  100% {
    -webkit-box-shadow: 0 0 0 40px rgba(255, 255, 255, 0.025), 0 0 0 calc($box-shadow-width * 2 + 5px) rgba(255, 255, 255, 0.025), 0 0 0 calc($box-shadow-width * 3 + 25px) rgba(255, 255, 255, 0.025);
            box-shadow: 0 0 0 40px rgba(255, 255, 255, 0.025), 0 0 0 calc($box-shadow-width * 2 + 5px) rgba(255, 255, 255, 0.025), 0 0 0 calc($box-shadow-width * 3 + 25px) rgba(255, 255, 255, 0.025);
  }
}
/*# sourceMappingURL=game.css.map */