@import "../../index.scss";

button {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  cursor: pointer;
}

.game {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom {
  display: flex;
  gap: 5.25rem;
  justify-content: center;
}